html {
    font-family: Arial, Helvetica, sans-serif
}
#logoProfile {
    display: flex;
    justify-content: space-between;
}
#logoBox, #profileBox{
    display: inline-block;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    background-color: plum;
}
#logoBox {
    margin-left: 15px;
    margin-right: auto;
}
#logoProfile {
    padding-right: 50px;
}
h1 {
    text-align: center;
}
.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.dogs {
    display: block;
    height: 200px;
    width: 250px;
    padding-right: 10px;
    padding-left: 10px;
}
p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 75px;
    margin-top: 5px;
}
h3 {
    display: inline-block;
    margin-right: 45px;
    margin-left: 45px;
    text-align: center;
}
#options {
    display: flex;
    justify-content: center;
}